.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
    margin: 0;
    margin-bottom: 12px;
  }
  
  .modal-label {
    display: block;
    margin-bottom: 4px;
    display: inline-block;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: #757575;
  }
  
  .modal-input {
    margin-bottom: 10px;
    outline: transparent;
    width: 448px;
    padding: 0;
    padding-left: 42px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border var(--baze-cubic);

    @media screen and (max-width:1200px) {
      max-width: 370px;
  }
  }
  
  .modal-comment {
    width: 448px;
    height: 120px;
    padding: 12px 16px;
    resize: none;
    outline: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border var(--baze-cubic);
  
    @media screen and (max-width:1200px) {
      max-width: 370px;
  }
    &::placeholder {
      font-size: 12px;
      line-height: 1.14;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }
  }
  
  .modal-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    transform: translate(13px, -39px);
    transition: fill var(--baze-cubic);
  }
  
  .modal-input:focus, .modal-comment:focus {
    border-color: var(--hover-color);
  }
  
  .modal-input:focus + .modal-icon {
    fill: var(--hover-color);
  }
  
  .modal-checkbox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #757575;
    @media screen and (min-width:1200px) {
      font-size: 14px;
      line-height: 1.71;
  }
  }
  
  .checkbox-modal-label {
    margin-right: 8px;
    user-select: none;
  }
  
  .checkbox-link {
    color: #2196F3;
  }
  
  .check-box-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
  
  .form-checkbox:checked + .check-box-icon {
    .unchecked {
      opacity: 0;
    }
  
    .checked {
      opacity: 1;
    }
  }
  
  .check-box-icon {
    .unchecked {
      opacity: 1;
      transition: opacity var(--baze-cubic);
    }
  
    .checked {
      opacity: 0;
      transition: opacity var(--baze-cubic);
    }
  }
  
  .modal-button {
    width: 200px;
    height: 50px;
    background-color: var(--hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    margin: 0 auto;
    letter-spacing: 0.06em;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    color: var(--background-hero-color);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--baze-cubic);
  
    &:hover {
      background-color: #1b7fcc;
    }
  }
  