:root{
    --title-text-color:#212121;  
    --paragraph-text-color:#757575;
    --hover-color:#2196F3;
    --background-hero-color:#FFFFFF;
    --background-color:#2F303A;
    --fontsize-text: 14px;
    --baze-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}